.blog-grid {
  height: 100%;
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 20% 80%;
  grid-gap: 0px;
}

.blog-grid-item {
  padding: 10px;
  margin: 0 10px;
}

.blog-menu {
  grid-area: 1 / 1 / 2 / 2;
  background-color: #FF0000;
  margin-left: 0px;
}

.blog-content {
  grid-area: 1 / 2 / 2 / 3;
  background-color: #00FF00;
  margin-right: 0;
}
