.blog-grid {
  height: 100%;
  display: grid;
  grid-template-rows: 25vh auto;
  grid-template-columns: 50% 50%;
  grid-gap: 0px;
}

.blog-grid-item {
  position: relative;
  padding: 10px;
  margin: 10px 5px;
  margin-top: 0;
}

.blog-menu {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 0px;
}

.blog-title {
  grid-area: 1 / 2 / 2 / 3;
  margin-right: 0;
  text-align: right;
}

.blog-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.blog-content {
  grid-area: 2 / 1 / 3 / 3;
  margin-left: 0;
  margin-right: 0;
}

.blog-content-grid-fewimg {
  display: grid;
  grid-template-columns: repeat(3, 33vw);
  grid-template-rows: repeat(3, 33vh);
  grid-gap: 0px;
  justify-content: center;
}

.blog-content-grid-manyimg {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0px;
  justify-content: center;
}

.blog-content-grid-item {
  margin: 10px;
  background-color: #FFF;
}

.blog-post-fewimg {
  grid-area: 1 / 2 / 2 / 3;
}

.blog-post-manyimg {
  grid-area: 1 / 2 / 2 / 5;
}

.blog-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Calendar */
