.blog-grid {
  height: 100%;
  display: grid;
  grid-template-rows: auto auto;
  grid-template-columns: 50% 50%;
  grid-gap: 0px;
}

.blog-grid-item {
  position: relative;
  padding: 10px;
  margin: 10px 5px;
  margin-top: 0;
}

.blog-grid-menu {
  grid-area: 1 / 1 / 2 / 2;
  margin-left: 0px;
}

.blog-grid-title {
  grid-area: 1 / 2 / 2 / 3;
  margin-right: 0;
  text-align: right;
}

.blog-back-button {
  position: absolute;
  top: 10px;
  left: 10px;
  cursor: pointer;
}

.blog-title {
  font-family: ElegantTypewriter;
  font-size: 3vw;
  margin: 16px 0;
}
.blog-subtitle {
  font-family: ElegantTypewriter;
  font-size: 2vw;
  margin: 8px 0;
}

.blog-grid-content {
  grid-area: 2 / 1 / 3 / 3;
  margin-left: 0;
  margin-right: 0;
}

.blog-content-grid-fewimg {
  display: grid;
  grid-template-columns: repeat(3, 33vw);
  grid-template-rows: repeat(3, 33vh);
  grid-gap: 0px;
  justify-content: center;
}

.blog-content-grid-manyimg {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 0px;
  justify-content: center;
}

.blog-content-grid-item {
  display: flex;
  margin: 10px;
  background-color: #FFF;
  justify-content: center;
  align-items: center;
}

.blog-post-fewimg {
  grid-area: 1 / 2 / 2 / 3;
}

.blog-post-manyimg {
  grid-area: 1 / 2 / 2 / 5;
}

.blog-image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Text */
.blog-post-text {
  font-size: 1rem;
  font-family: ElegantTypewriter;
}
